<div class="container mt-4">
  <h1>Angular 20</h1>
  <h2>Programmation d’un menu déroulant avec le module ng-select (T01)</h2>
  <div class="note01">
    <p>Paquets NPM à installer :</p>
    <pre>npm install bootstrap</pre>
    <pre>npm install &#64;ng-select/ng-select</pre>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ng-select [items]="people$ | async" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedPersonId"></ng-select>
      <code>
        selectedPersonId -- {{ selectedPersonId }}<br>
        selectedPersonId | json -- {{ selectedPersonId | json }}
      </code>
    </div>
    <div class="col-md-6"></div>
  </div>

</div>
